@font-face {
  font-family: 'RpgAwesome';
  src: url('rpgawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'RpgAwesome', sans-serif;
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
}

span {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

span.no-outline {
  text-shadow: none;
}

span::after {
  content: attr(data-code);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.5em;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease;
}

span:hover::after {
  opacity: 1;
}

#copy-message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

#copy-message.show {
  opacity: 1;
}

#controls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#controls input[type="color"] {
  margin-right: 10px;
}

#controls button {
  margin-right: 10px;
}

#test-input {
  font-family: 'RpgAwesome', sans-serif;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

#text-toggle {
  font-size: 16px;
  margin-right: 12px;
  margin-top: 5px;
}
